
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Bilo šta iz tabele" />
      </mat-form-field>
      
      <table mat-table [dataSource]="showData" matSort>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Broj zahteva</th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="infoOZahtevu">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Podnosilac</th>
          <td mat-cell *matCellDef="let element"> {{element.infoOZahtevu}} </td>
        </ng-container>


        <ng-container matColumnDef="organ">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Organ</th>
          <td mat-cell *matCellDef="let element"> {{element.organ}} </td>
        </ng-container>

        <!-- | date:'yyyy-MM-ddTHH:mm:ss -->
        <ng-container matColumnDef="datum">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Datum</th>
          <td mat-cell *matCellDef="let element"> {{element.datum | date:'MM.dd.yyyy'}}</td>
        </ng-container>

        <ng-container matColumnDef="mesto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Mesto</th>
          <td mat-cell *matCellDef="let element"> {{element.mesto}} </td>
        </ng-container>

        <ng-container matColumnDef="akcija">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Imate pravo žalbe</th>
          <td mat-cell *matCellDef="let element">
            <button data-toggle="tooltip" title="Kreiraj žalbu" mat-button (click)="createAppeal(element)">Kreiraj žalbu</button>
          </td>
        </ng-container>
       

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
      </table>
      <mat-paginator [length]="pagNumber" [pageSize]="6" [pageSizeOptions]="[1, 3, 6, 9, 15]">
      </mat-paginator>
      
