<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">

    <mat-card>
      <mat-card-content *ngIf = "!isAdmin">
        <h2>Podnesi žalbu zbog odbijanja zahteva</h2>
        <app-user-create-appeal [showData]="dataDecision"></app-user-create-appeal>
        <h2>Podnesi žalbu na ćutanje uprave</h2>
        <app-user-create-appeal [showData]="dataSilence"></app-user-create-appeal>

        <!-- <div class="container" fxLayout="row" fxLayoutAlign="center none">
          <div fxFlex="50%" class="text-center no-records animate">
          
            
          </div>
          <mat-icon> </mat-icon>
        </div> -->

      </mat-card-content>
      <mat-card-content *ngIf = "isAdmin">
        <button mat-raised-button color="primary" title="Kreiraj žalbu" (click)="createDecision()">Kreiraj rešenje</button>
      </mat-card-content>
    </mat-card>

  </div>
</div>