<div class="navbar-container" [class.example-is-mobile]="mobileQuery.matches">

  <!-- Top navbar -->
  <mat-toolbar class="navbar" color="primary">

    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <a class="navbar-brand" [routerLink]="['/']" matTooltip="Home">
      <h1>
        portal poverenika
      </h1>
    </a>

    <span class="navbar-spacer"></span>

    <!-- <button mat-icon-button [matMenuTriggerFor]="notificationMenu">
      <mat-icon matBadge="2" matBadgeColor="accent">notifications</mat-icon>
    </button>
    <mat-menu #notificationMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">

      <a mat-menu-item>
        <span>Imate novo obavestenje</span>
      </a>
      <a mat-menu-item>
        <span>Imate novu poruku</span>
      </a> -->

    <!-- </mat-menu> -->

    <!-- <button  mat-button  [routerLink]="['/auth/register']">
      <mat-icon>app_registration</mat-icon>
      <span>
        Registrujte se
      </span>
    </button> -->

    <button mat-button [matMenuTriggerFor]="userMenu">
      <mat-icon>person</mat-icon>
      <span fxShow fxHide.xs>
        {{userName}}
      </span>
    </button>
    <mat-menu #userMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">

      <!-- <a mat-menu-item [routerLink]="['/account/profile']">
        <mat-icon>person</mat-icon>
        <span>Nalog</span>
      </a> -->

      <a mat-menu-item [routerLink]="['/auth/login']">
        <mat-icon>exit_to_app</mat-icon>
        <span>Odjavite se</span>
      </a>

    </mat-menu>

  </mat-toolbar>

  <mat-sidenav-container class="navbar-sidenav-container">
    <!-- Side nav -->
    <mat-sidenav #snav [opened]="!mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" class="sidenav">

      <mat-nav-list>
        <h3 mat-subheader>Meni</h3>

        <a mat-list-item [routerLink]="['/dashboard']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            dashboard
          </mat-icon>
          <p  *ngIf = "!isAdmin" mat-line> Početna strana </p>
          
          <p  *ngIf = "isAdmin" mat-line> Pretraga </p>
        </a>

        <a  mat-list-item [routerLink]="['/appeals/rejeciton']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            disabled_by_default
          </mat-icon>
          <p mat-line>Žalbe na odbijanje zahteva</p>
        </a>

        <a  mat-list-item [routerLink]="['/appeals/silence']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            hourglass_full
          </mat-icon>
          <p mat-line>Žalbe na ćutanje uprave</p>
        </a>

        <a  mat-list-item [routerLink]="['/decisions']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            fact_check
          </mat-icon>
          <p mat-line>Rešenja</p>
        </a>

        <a mat-list-item [routerLink]="['/users']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            addchart
          </mat-icon>
          <p  *ngIf = "!isAdmin" mat-line> Podnesi žalbu </p>
          
          <p  *ngIf = "isAdmin" mat-line> Kreiraj rešenje </p>
        </a> 

        <!-- <a mat-list-item [routerLink]="['/account/profile']">
          <mat-icon mat-list-icon>person</mat-icon>
          <p mat-line> Account </p>
        </a> -->

        <a mat-list-item [routerLink]="['/auth/login']">
          <mat-icon mat-list-icon>exit_to_app</mat-icon>
          <p mat-line> Odjavite se</p>
        </a>

        <mat-divider></mat-divider>

        <!-- <h3 mat-subheader>Resources</h3>

        <a mat-list-item [routerLink]="['/icons']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            toll
          </mat-icon>
          <p mat-line> Icons </p>
        </a>
        <a mat-list-item [routerLink]="['/typography']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            font_download
          </mat-icon>
          <p mat-line> Typography </p>
        </a>

        <a mat-list-item href="" target="_blank">
          <mat-icon mat-list-icon>
            link
          </mat-icon>
          <p mat-line> Material Components </p>
        </a> -->

        <!-- <a id="push-bottom" mat-list-item [routerLink]="['/about']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            info_outline
          </mat-icon>
          <p mat-line> About </p>
        </a> -->
       </mat-nav-list>

    </mat-sidenav>

    <!-- Main content -->
    <mat-sidenav-content class="sidenav-content">

      <div class="progress-bar-container">
        <mat-progress-bar color="accent" mode="indeterminate" *ngIf="spinnerService.visibility | async">
        </mat-progress-bar>
        <!-- <mat-spinner class="spinner" [diameter]="50" *ngIf="showSpinner"></mat-spinner> -->
      </div>


      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>