<!-- <div class="container" fxLayout="row" fxLayoutAlign="center none"></div> -->
<div fxFlex="95%">
  <mat-card>
    <mat-card-content>
      <div *ngIf="isAdmin">
        <h2>Sva rešenja</h2>
        <app-decision-show [showData]="data"> </app-decision-show>
      </div>

      <div *ngIf = "!isAdmin">
        <h2>Vaša rešenja</h2>
        <app-decision-show [showData]="data"> </app-decision-show>
      </div>
    </mat-card-content>
  </mat-card>
</div>
