<app-header></app-header>
<div class="container register-container" fxLayout="row" fxLayoutAlign="center center">
  <form [formGroup]="registerForm" fxFlex="30%" fxFlex.sm="50%" fxFlex.xs="90%">
    <mat-card class="box">
      <mat-card-title>Portal organa vlasti - Registracija</mat-card-title>
      <mat-card-subtitle>Napravite svoj nalog</mat-card-subtitle>

      <mat-card-content>

        <mat-form-field class="full-width">
          <input id="firstNameInput" matInput placeholder="Ime" formControlName="firstName" autocomplete="fisrtName"
            type="text">

          <mat-error id="requiredFirstNameError" *ngIf="registerForm.controls['firstName'].hasError('required')">
            Ime je
            <strong>obavezno!</strong>
          </mat-error>
          <mat-error
            *ngIf="registerForm.controls['firstName'].hasError('minlength') || registerForm.get('firstName').hasError('maxlength')">
            Ime mora imati između 2 i 24 karakterera.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input id="lastNameInput" matInput placeholder="Prezime" formControlName="lastName" autocomplete="lastName"
            type="email">

          <mat-error id="requiredLastNameError" *ngIf="registerForm.controls['lastName'].hasError('required')">
            Prezime je
            <strong>obavezno!</strong>
          </mat-error>
          <mat-error
            *ngIf="registerForm.controls['lastName'].hasError('minlength') || registerForm.get('lastName').hasError('maxlength')">
            Prezime mora imati između 2 i 24 karakterera.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input id="emailInput" matInput placeholder="E-adresa" formControlName="email" autocomplete="email"
            type="email">

          <mat-error id="invalidEmailError" *ngIf="registerForm.controls['email'].hasError('email')">
            Unesite validnu e-adresu.
          </mat-error>
          <mat-error id="requiredEmailError" *ngIf="registerForm.controls['email'].hasError('required')">
            E-adresa je
            <strong>obavezna!</strong>
          </mat-error>

        </mat-form-field>

        <mat-form-field class="full-width">
          <input id="passwordInput" matInput placeholder="Lozinka" formControlName="password" type="password"
            autocomplete="current-password">
          <mat-error id="requiredPasswordError" *ngIf="registerForm.controls['password'].hasError('required')">
            Lozinka je
            <strong>obavezna!</strong>
          </mat-error>
          <mat-error
            *ngIf="registerForm.controls['password'].hasError('minlength') || registerForm.get('password').hasError('maxlength')">
            Lozinka mora imati između 8 i 18 karakterera.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input id="repeatPasswordInput" matInput placeholder="Ponovite lozinku" formControlName="confirmPassword"
            type="password" autocomplete="current-password" (ngModelChange)="checkPasswords($event)">
          <mat-error id="requiredPasswordError" *ngIf="registerForm.controls['confirmPassword'].hasError('required')">
            Ponovljena lozinka je
            <strong>obavezna!</strong>
          </mat-error>
          <mat-hint *ngIf="notSame"><strong>Ponovljena lozinka nije ista!</strong></mat-hint>
        </mat-form-field>

      </mat-card-content>
      <mat-card-actions class="login-actions">
        <button mat-raised-button id="login" color="primary" [disabled]="registerForm.invalid || loading || notSame"
          (click)="register()">Registrujte se</button>
      </mat-card-actions>
    </mat-card>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  </form>
</div>