<div class="jumbotron col-md-6 m-auto shadow mt-3 p-5">
  <div id="requestEditor"></div>

  <!-- <div class="text-center mt-3">
    <button mat-raised-button (click)="predajObavestenje()">Предај обавештење</button>
  </div> -->
  <button mat-raised-button id="create" color="primary" (click)="createRequest()">Podnesi zahtev</button>
</div>
