<h2>Dobrodošli, {{currentUser.fullName}}!</h2>
<div class="container" fxLayout="row" *ngIf="currentUser.isServant">
  <mat-card>
    <mat-card-content>
      <div *ngIf="currentUser.isServant">
        <h3>Pretraga zahteva</h3>
        <mat-form-field class="example-form-field">
          <input matInput type="text" [(ngModel)]="value" placeholder="po tekstualnom sadržaju">
          <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Search" (click)="search(value)">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <app-display_search *ngIf="dataSourceRequests" [requests]="requests" [dataSourceRequests]="dataSourceRequests">
        </app-display_search>
      </div>


    </mat-card-content>
  </mat-card>
</div>
