<div class="navbar-container" [class.example-is-mobile]="mobileQuery.matches">

  <!-- Top navbar -->
  <mat-toolbar class="navbar" color="primary">

    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <a class="navbar-brand" [routerLink]="['/home']" matTooltip="Home">
      <h1>
        Organ vlasti
      </h1>
    </a>

    <span class="navbar-spacer"></span>


    <button mat-button [matMenuTriggerFor]="userMenu">
      <mat-icon>person</mat-icon>
      <span fxShow fxHide.xs>
        {{userName}}
      </span>
    </button>
    <mat-menu #userMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">

      <a mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Odjava</span>
      </a>

    </mat-menu>

  </mat-toolbar>

  <mat-sidenav-container class="navbar-sidenav-container">
    <!-- Side nav -->
    <mat-sidenav #snav [opened]="!mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" class="sidenav">

      <mat-nav-list>
        <h3 mat-subheader>Opcije</h3>

        <a mat-list-item [routerLink]="(['dashboard'])" routerLinkActive="active">
          <mat-icon mat-list-icon>
            home
          </mat-icon>
          <p mat-line> Početna strana </p>
        </a>

        <a mat-list-item [routerLink]="(['requests'])" routerLinkActive="active">
          <mat-icon mat-list-icon>
            fact_check
          </mat-icon>
          <p mat-line> Zahtevi </p>
        </a>

        <a mat-list-item routerLinkActive="active" *ngIf="isCitizen" [routerLink]="(['requests/create'])">
          <mat-icon mat-list-icon>
            description
          </mat-icon>
          <p mat-line> Podnesi zahtev </p>
        </a>
        <a mat-list-item routerLinkActive="active" [routerLink]="(['notices'])">
          <mat-icon mat-list-icon>
            view_list
          </mat-icon>
          <p mat-line> Obaveštenja </p>
        </a>
        <a mat-list-item routerLinkActive="active" *ngIf="isServant">
          <mat-icon mat-list-icon>
            summarize
          </mat-icon>
          <p mat-line> Podnesi izveštaj </p>
        </a>

        <mat-divider></mat-divider>

        <a mat-list-item (click)="logout()">
          <mat-icon mat-list-icon>exit_to_app</mat-icon>
          <p mat-line> Odjava </p>
        </a>



        <!-- <h3 mat-subheader>Resources</h3>

        <a mat-list-item routerLinkActive="active">
          <mat-icon mat-list-icon>
            toll
          </mat-icon>
          <p mat-line> Icons </p>
        </a>
        <a mat-list-item routerLinkActive="active">
          <mat-icon mat-list-icon>
            font_download
          </mat-icon>
          <p mat-line> Typography </p>
        </a>

        <a mat-list-item target="_blank">
          <mat-icon mat-list-icon>
            link
          </mat-icon>
          <p mat-line> Material Components </p>
        </a>

        <a id="push-bottom" mat-list-item routerLinkActive="active">
          <mat-icon mat-list-icon>
            info_outline
          </mat-icon>
          <p mat-line> About </p>
        </a> -->
      </mat-nav-list>

    </mat-sidenav>

    <!-- Main content -->
    <mat-sidenav-content class="sidenav-content">

      <div class="progress-bar-container">
        <mat-progress-bar color="accent" mode="indeterminate" *ngIf="spinnerService.visibility | async">
        </mat-progress-bar>
        <!-- <mat-spinner class="spinner" [diameter]="50" *ngIf="showSpinner"></mat-spinner> -->
      </div>


      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
