
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Bilo šta iz tabele" />
      </mat-form-field>
      
      <table mat-table [dataSource]="showData" matSort>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Broj zahteva</th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="podnosilac">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Podnosilac</th>
          <td mat-cell *matCellDef="let element"> {{element.podnosilac}} </td>
        </ng-container>


        <ng-container matColumnDef="organ">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Organ</th>
          <td mat-cell *matCellDef="let element"> {{element.organ}} </td>
        </ng-container>


        <ng-container matColumnDef="datum">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Datum</th>
          <td mat-cell *matCellDef="let element"> {{element.datum | date: "dd.MM.yyyy."}}</td>
        </ng-container>

        <ng-container matColumnDef="mesto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Mesto</th>
          <td mat-cell *matCellDef="let element"> {{element.mesto}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

        <!-- <ng-container matColumnDef="PDF">
          <th mat-header-cell *matHeaderCellDef >PDF</th>
          <td mat-cell *matCellDef="let element"></td>
        </ng-container>

        <ng-container matColumnDef="XHTML">
          <th mat-header-cell *matHeaderCellDef>XTML</th>
          <td mat-cell *matCellDef="let element"></td>
        </ng-container>

        <ng-container matColumnDef="JSON">
          <th mat-header-cell *matHeaderCellDef>JSON</th>
          <td mat-cell *matCellDef="let element"><button data-toggle="tooltip" title="JSON" mat-button (click)="preuzmiJSON(element)">JSON</button></td>
        </ng-container> -->

        <ng-container matColumnDef="preuzmi">
          <th mat-header-cell *matHeaderCellDef >Preuzmi dokument</th>
          <td mat-cell *matCellDef="let element">
            <button data-toggle="tooltip" title="PDF" mat-button (click)="preuzmiPDF(element)">PDF</button>
            <button data-toggle="tooltip" title="XHTML" mat-button (click)="preuzmXHTML(element)">XHTML</button>
        </ng-container>

        <ng-container matColumnDef="izvezi">
          <th mat-header-cell *matHeaderCellDef >Izvezi dokument</th>
          <td mat-cell *matCellDef="let element">
            <button data-toggle="tooltip" title="RDF" mat-button (click)="preuzmiRDF(element)">RDF</button>
            <button data-toggle="tooltip" title="JSON" mat-button (click)="preuzmiJSON(element)">JSON</button></td>
        </ng-container>
       

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
      </table>
      <mat-paginator [length]="pagNumber" [pageSize]="6" [pageSizeOptions]="[1, 3, 6, 9, 15]">
      </mat-paginator>
      
