<mat-form-field style="padding-left: 10px;">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Bilo šta iz tabele" />
</mat-form-field>


<mat-table mat-table #table [dataSource]="dataSourceNotices" matSort class="zaduzbinar-table">
  <ng-container matColumnDef="brojObavjestenja">
    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Broj obaveštenja</mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element">
      {{element.brojObavjestenja}}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="brojZahteva">
    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Broj zahteva</mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element">
      {{element.brojZahteva}}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="nazivOrgana">
    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Naziv organa</mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element">
      {{element.nazivOrgana}}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="trazilac">
    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Podnosilac</mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element">{{ element.trazilac }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="trazenaInformacija">
    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Tražena informacija</mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element">{{
      element.trazenaInformacija
      }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="datumUvida">
    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Datum uvida</mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element">{{
      element.datumUvida
      }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="vrijemeUvida">
    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Mjesto uvida</mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element">{{
      element.vrijemeUvida
      }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="iznosZaUplatu">
    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Iznos za uplatu</mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element">{{
      element.iznosZaUplatu
      }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="preuzimanje">
    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Preuzimanje dokumenata</mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element">
      <button mat-button matTooltip="Preuzmi" aria-label="Preuzmi u pdf formatu"
        (click)="exportPDF(element.brojObavjestenja)">PDF</button>
      <button mat-button matTooltip="Preuzmi" aria-label="Preuzmi u XHTML formatu"
        (click)="exportXHTML(element.brojObavjestenja)">XHTML</button>
      <button *ngIf="currentUser.isServant" mat-button matTooltip="Preuzmi u rdf formatu" aria-label="Preuzmi"
        (click)="exportRDF(element.brojObavjestenja)">RDF</button>
      <button *ngIf="currentUser.isServant" mat-button matTooltip="Preuzmi u json formatu" aria-label="Preuzmi"
        (click)="exportJSON(element.brojObavjestenja)">JSON</button>
    </mat-cell>
  </ng-container>

  <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
  <mat-row mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
<mat-paginator [length]="pagNumber" [pageSize]="6" [pageSizeOptions]="[1, 3, 6, 9, 15]">
</mat-paginator>
