.mat-column-preuzimanje {
  flex: 0 0 20%;
}

mat-header-cell {
  display: flex;
}
mat-header-cell.mat-sort-header-sorted {
  color: black;
}
mat-form-field {
  width: 30%;
  align-self: center;
}
.icon_buttons {
  max-width: 50px;
}
